/* COVER
============================================================================= */
/* 
Spectral
https://github.com/productiontype/Spectral
Open Font License 1.1 (https://scripts.sil.org/OFL)

Spectral Light
*/
@font-face {
  font-family: "Spectral";
  src: url("../fonts/spectral-light.woff2") format("woff2"),
       url("../fonts/spectral-light.woff") format("woff"),
       url("../fonts/spectral-light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
/* Spectral Semi-Bold 
*/
@font-face {
  font-family: "Spectral";
  src: url("../fonts/spectral-semibold.woff2") format("woff2"),
       url("../fonts/spectral-semibold.woff") format("woff"),
       url("../fonts/spectral-semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

/* Cover customization to match previous collection catalogues */
.hero-body .container.is-fluid {
  bottom: 0;
  right: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 3rem;
  text-align: center;
  background: -webkit-linear-gradient(top, transparent, rgba(0,0,0,0.8));
  background: linear-gradient(to bottom, transparent, rgba(0,0,0,0.8));
  text-shadow: 3px 3px 5px rgba(0,0,0,0.9);
}
.quire-cover__hero .title {
  font-family: "Spectral", serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.1;
  margin-bottom: 2rem;
}
.quire-cover__hero .title .title-large {
  display: block;
  font-size: 5.25rem;
  font-weight: 300;
  padding-top: 5px
}
.quire-cover .quire-page__content .container.is-fluid .content .cover-authors {
  margin-bottom: 3rem;
}
.quire-cover .quire-page__content .container.is-fluid .content .cover-authors p {
  font-family: 'Noto Sans', sans-serif; 
  font-weight: 700;
  text-align: center;
}
.quire-cover .quire-page__content .container.is-fluid .content .cover-authors p:first-child {
  font-size: 1.35rem;
  letter-spacing: .5px;
}
.quire-cover__more .hero-more {
  background: #a88603;
}
@media print {
  .quire-cover__hero .hero-body .container {
    width: 100%;
    padding-bottom: 1in;
  }
  .quire-cover__hero .title {
    font-size: 22pt;
  }
  .hero-body .container.is-fluid {
    border-width: 0;
  }
  .quire-cover__hero .title .title-large {
    font-size: 60pt;
  }
  .title-page .contributor {
    max-width: 4.75in;
    float: right;
  }
  .title-page .contributor p {
    margin-bottom: 1em;
  }
  .title-page .contributor p:first-child {
    font-weight: 700;
  }
}


/* OBJECT ENTRIES
============================================================================= */
/* Style custom list treatment of object tombstones */
.quire-entry__tombstone--list {
  font-size: .875rem;
  margin: 0 2rem;
}
.quire-entry__tombstone--list li {
  margin-bottom: .25rem;
  margin-left: 1.5rem;
  text-indent: -1.5rem;
}
.quire-entry__tombstone .button {
  margin-left: 2rem;
  margin-top: 1rem;
  font-size: .875rem;
}


/* CATALOGUE GRID
============================================================================= */
/* Styles for customization that includes some object info in the grid */
.object-info {
  font-weight: 400;
}
.object-info--title {
  font-weight: 700;
}
@media print {
  .quire-contents-list.grid .menu-list ul .page-item {
    width: auto;
    background-color: white;
    height: auto;
  }
  .object-info p {
    margin-bottom: .5rem !important;
  }
}

/* LIST OF CONTRIBUTORS
============================================================================= */
/* Align initials on same line as names */
#contributors .quire-page__content .container .content dl dt {
  float: left;
  width: 5rem;
  font-weight: 400;
}


/* ABOUT & COPYRIGHT PAGE
============================================================================= */

/* LOC Cataloguing in Publication format */
.quire-page__content .container .content .cip-data p {
  display: none;
}
.quire-page__content .container .content .cip-data ul {
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 1rem;
}
.quire-page__content .container .content .cip-data ul li {
  line-height: 1.6;
  margin: 0;
  padding-left: 1.5em;
  text-indent: -1.5em;
}
.quire-page__content .container .content .cip-data ul li::before {
  display: none;
}
@media print {
  .quire-page__content .container .content .cip-data {
    column-break-before: always;
  }
}

@media print {
  #copyright .quire-page.quire-page--frontmatter {
    page: no-footer;
  }
  #copyright .quire-page__header {
    display: none;
  }
  #copyright .quire-page__content {
    column-count: 2;
    column-gap: .1875in;
    column-fill: auto;
    max-width: 100%;
    height: 100%;
    margin: 0;
    text-align: left;
  }
  #copyright img {
    height: .25in;
  }
}


/* MISC
============================================================================= */
/* Hide arrow graphic in TOC */
.menu-list .arrow {
  display: none;
}

@media print {
  .quire-entry__tombstone * {
    color: #000;
  }
}

/* Hide page bibliographies except for main Biblio page */
.quire__primary:not(#bibliography) .quire-page__content__references {
  display: none;
}

/* Remove decorative quote on blockquotes */
@media screen {
  .quire-page__content .container .content blockquote {
    padding-left: 0;
  }
}
.quire-page__content .container .content blockquote p:first-child::before, .quire-page__content .container .content blockquote ul:first-child::before, .quire-page__content .container .content blockquote ol:first-child::before {
  content: "";
}

/* Make heading sizes consistent */
.quire-entry h2,
.quire-page h2 {
  font-size: 1.3125rem;
}


/* PRINT
============================================================================= */
@media print {
  
  /* Remove page numbering from splash page */
  @page splash {
    @bottom-right {
      content: none;
    }
  
    @bottom-left {
      content: none;
    }
  }
  
  /* Hide catalogue grid in print and make adjustments to contents pages  */
  #catalogue-catalogue-index .quire-contents-list.grid {
    display: none;
  }
  #catalogue-catalogue-index .quire-page--grid.quire-contents {
    page: splash;
  }
  #catalogue-catalogue-index .quire-page--grid.quire-contents h1 {
    margin-top: 2in;
    color: #fff;
  }
  .quire-contents-list .section-item {
    max-width: 90%;
  }
  .quire-contents-list .section-item a::after {
    content: leader(dotted) ' 'target-counter(attr(href, url), page);
    margin-left: 6pt; 
    margin-right: -10%;
    /* This border is a hack for PrinceXML which doesn't
    otherwise recognize the box sizing for some reason */
    border: 1pt solid transparent;
  }
  
  /* Ensure plates always start on left page */
  .quire-entry__image .quire-entry__image__group-container figure {      
    page-break-before: left;
  }

}

/* Adjust URL breaks in PDF */
@media print {
  /* PrinceXML doesn’t seem to support <wbr> embedded in the URLs as a
  method for suggesting places to break words, instead we're using here
  the prince-text-replace specialty attribute to insert zero-width-spaces */
  a[target=_blank] {
    prince-text-replace: "/" "\200B/"
                          "~" "\200B~"
                          "." "\200B."
                          "," "\200B,"
                          "-" "\200B-"
                          "_" "\200B_"
                          "?" "\200B?"
                          "#" "\200B#"
                          "%" "\200B%"
                          "=" "\200B="
                          "&" "\200B&"
                          "+" "\200B+"
                          "\200B/\200B/" "//\200B";
  }
}

/* Following the same pattern as above, this improves breaking after 
em dashes */
@media print {
  body * {
    prince-text-replace: "—" "—\200B"
  }
}
